<style>

@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

body {
  background-color: purple;
}

h1 {
  color: red;
  text-align: center;
  font-family: 'Manjari', sans-serif;
}

h2 {
  color: blue;
  text-align: left;
  border: solid green
}

p {
  font-size: 20px;
  border: dotted orange

}
</style>